.nombre-container {
  display: flex;
  align-items: center;
  gap: 15px;

  background-color: #fef2dc; /* color de fondo similar al diseño */
  padding: 20px;
  border-radius: 10px;
  max-width: 800px;
  margin: 0 auto 30px auto; /* centrar horizontalmente con margen inferior */
}


.nombre-foto {
  width: 80px;              /* Ajusta el tamaño como prefieras */
  height: 80px;
  object-fit: cover;        /* Asegura que la imagen se recorte bien */
  border-radius: 50%;       /* Hace la imagen circular */
  border: 2px solid #ccc;   /* Opcional: borde estético */
}

.nombre-text {
  font-size: 1.5rem;     /* Aumenta o reduce el tamaño del texto */
  font-weight: bold;
}
