.login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f9f7f3;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.login-content {
  text-align: center;
}

.logo-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.logo {
  width: 240px;
  height: auto;
  margin-right: 0.8rem;
}

.nombre-redema {
  font-size: 2rem;
  color: #924c4c;
  margin-top: 0.5rem;
}

.bienvenida {
  font-size: 1.25rem;
  font-weight: bold;
  margin: 1rem 0;
  color: #333;
}

.google-button {
  background-color: #fbbc04;
  border: none;
  color: #000;
  font-weight: 500;
  padding: 10px 60px;
  border-radius: 25px;
  cursor: pointer;
  font-size: 0.95rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  transition: background-color 0.3s;
}

.google-button:hover {
  background-color: #e0a800;
}

.google-icon {
  width: 20px;
  height: 20px;
}
